




<form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <div>
      Form submitted ? {{myForm.submitted}}
      Form valid ? {{myForm.valid}}
      Form invalid ? {{myForm.valid}}
    </div>
    <div>
      <label for="title-order">Title</label>
      <input name="title-order" type="text" [(ngModel)]="model.title" #title="ngModel" required minlength="5" maxlength="30"/>
    </div>
    <!-- Message d'erreurs -->
    <div *ngIf="title.errors">
      <span *ngIf="title.errors?.required">Le titre est requis</span>
      <span *ngIf="title.errors?.minlength">La longueur minimale doit être supérieure à 5</span>
      <span *ngIf="title.errors?.maxlength">La longueur maximale doit être inférieure à 30</span>
    </div>
    <div>
      <label for="quantity-order">Quantité</label>
      <input name="quantity-order" type="number" [(ngModel)]="model.quantity" #quantity="ngModel" required>
    </div>
    <div *ngIf="quantity.errors">
      <span *ngIf="quantity.errors?.required">Le champ quantité est requis</span>
    </div>
    <div>
      <label for="date-order">Date de commande</label>
      <input name="date-order" type="date" [(ngModel)]="model.date" #date="ngModel" required>
    </div>
    <div *ngIf="date.errors">
      <span *ngIf="date.errors?.required">Le champ email est requis</span>
    </div>
    <div>
      <label for="contact-order">Contact</label>
      <input name="contact-order" type="email" [(ngModel)]="model.contact" #contact="ngModel" required email>
    </div>
    <div *ngIf="contact.errors">
      <span *ngIf="contact.errors?.required">Le champ email est requis</span>
      <span *ngIf="contact.errors?.email">L'adresse email doit être valide</span>
    </div>
    <button type="reset">Restaurer</button>
    <button type="submit">Sauvegarder</button>
  </form>

  <div>
     <p>{{model}}</p>
  </div>