ul {
  display: flex;
  justify-content: space-around;
  background-color: rgb(29, 29, 28);
}

a {
  color: aliceblue;
  text-decoration: none;
}

a:hover,
a:active {
  background-color: rgb(19, 18, 18);
}

button {
  background-color: rgb(2, 2, 3);
  border-radius: 2px;
  border-style: none;
}

button:hover {
  cursor: pointer;
}
