
<div id="container">
     
     <div id="transversal">
    <button  onclick="window.location.href = 'https://validator.w3.org/';"><img [src]="Logo.w3c" alt=""><p>validateur</p></button>

    <button  onclick="window.location.href = 'https://www.deepl.com/fr/translator';"><img [src]="Logo.deepl" alt=""><p>traducteur ENG FR</p></button>
    </div>

    <h2>Ressource Back-end</h2>

    <div id="Back-end">
       
    <button  onclick="window.location.href = 'https://caddyserver.com/';"><img [src]="Logo.caddy" alt=""><p>Web serveur</p></button>
    
    <button  onclick="window.location.href = 'http://www.duckdns.org/install.jsp';"><img [src]="Logo.duckdns" alt=""><P>nom de domaine gratuit</P></button>
</div>

<h2>Ressource front-end</h2>
<div id="front-end">
    <button  onclick="window.location.href = 'https://flukeout.github.io/#';"><img [src]="Logo.cssdiner" alt=""><P>jeu</P></button>

    <button  onclick="window.location.href = 'https://picsum.photos/';"><img [src]="Logo.lorempicsum" alt=""><P>Images type</P></button>

    <button  onclick="window.location.href = 'https://www.lipsum.com/';" ><img [src]="Logo.loremip" alt=""><P>Images type</P></button>

    <button onclick="window.location.href = 'https://compressor.io/';" ><img [src]="Logo.comp" alt=""><P>compresseur d'images</P></button>

    <button  onclick="window.location.href = 'https://fr.freelogodesign.org/';"><img [src]="Logo.fld" alt=""><P>Crée des logos</P></button>

    <button onclick="window.location.href = 'https://unsplash.com/';"><img [src]="Logo.spash" alt=""><P>Images libres de droit</P></button>

    <button onclick="window.location.href = 'https://fonts.google.com/';"><img [src]="Logo.google" alt=""><P></P></button>

    <button onclick="window.location.href = 'https://promo.com/tools/image-resizer/';"><img [src]="Logo.resizer" alt=""><P>Resize les images</P></button>

    <button onclick="window.location.href = 'https://github.com/RoYaLSleT/AngularRouter-Basics';"><img [src]="Logo.angular" alt=""><p>routes avec angular.</p></button>

    <button onclick="window.location.href = 'https://docs.google.com/document/d/1lQA_DvNmwpDqonvgHKua81Xi34wB6IOqJs_Ga_dd6v8/edit';"><img [src]="Logo.angular" alt=""> <p>input et output</p></button>

    <button onclick="window.location.href = 'https://www.youtube.com/playlist?list=PLC3y8-rFHvwhBRAgFinJR8KHIrCdTkZcZ';"><img [src]="Logo.angular" alt=""><p>tuto Angular</p></button>
</div>
<h2>Gestion de projet</h2>
    <button onclick="window.location.href = 'https://www.atlassian.com/fr/agile/project-management/user-stories';"><img [src]="Logo.user" alt=""><p>User Stories</p></button>

    <button onclick="window.location.href = 'https://www.turn-on.fr/blog/bien-rediger-ses-user-stories';"><img [src]="Logo.scrum" alt=""><p> User Stories</p></button>

    <button onclick="window.location.href = 'https://guide-angular.wishtack.io/angular';"><img [src]="Logo.marmite" alt=""><p>Cours Angular</p> </button>

    <button onclick="window.location.href = 'https://docs.google.com/presentation/d/12xVG6ZjHn-eLIEgCsIJN0j9NAUxy5R4L4eI5Zl_fDyc';"><img [src]="Logo.work" alt=""><p>Cours Workflow scrum/git</p></button> 

    

    

    
    

</div>
 